<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.Evvdroid">

		<!-- Startable on the lock screen, which is where a screen reader is
		     wanted first. What it reads there is in DirectBoot.kt. -->
		<service
			android:name=".EvvTtsService"
			android:label="@string/engine_name"
			android:directBootAware="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.TTS_SERVICE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data
				android:name="android.speech.tts"
				android:resource="@xml/tts_engine" />
		</service>

		<activity
			android:name=".CheckVoiceDataActivity"
			android:exported="true"
			android:noHistory="true"
			android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".GetSampleTextActivity"
			android:exported="true"
			android:noHistory="true"
			android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".SettingsActivity"
			android:exported="true"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.speech.tts.engine.CONFIGURE_ENGINE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

	</application>
</manifest>
